

.main {
    min-height: 550px;
    width: 550px;
    background-color: #F5F7FB;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main--heading {
    color: #293264;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin: 0;
}

.main--subheading {
    color: #293264;
    font-weight: 400;
    text-align: center;
    margin: 0.5em;
}

.scoreboard {
    font-weight: 700;
    color: #293264;
}

/* blob */

.blob-down {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blob-up {
    position: absolute;
    top: 0;
    right: 0;
}

/* ===========
    Buttons
   =========== */

.btn-primary,
.btn-secondary {
    cursor: pointer;
}

.btn-primary {
    background-color: #4D5B9E;
    border: 1px solid #4D5B9E;
    color: #F5F7FB;
}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.18);
}

.btn-primary:active {
    background-color: #F5F7FB;
    color: #4D5B9E;
    border: 2px solid #4D5B9E;
}

.btn-primary.regular {
    height: 35px;
    width: 120px;
    font-size: 0.625rem;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 2em;
}

.btn-primary.big {
    height: 50px;
    width: 150px;
    font-weight: 500;
    border-radius: 15px;
}

/* Option's buttons */

.btn-secondary {
    font-size: 0.625rem;
    color: #293264;
    border: 1px solid #4D5B9E;
    background-color: #F5F7FB;
    border-radius: 8px;
    margin: 0.5em;
    padding: 0.5em 1.5em;
    font-weight: 500;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.selected {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
    color: #293264;
}

/* play Again Button */

.play-again .btn-primary.regular {
    margin: 0;
    margin-left:1em;
}

div.play-again {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1em;
    padding: 0;
}

/* ===========
    Questions  
   =========== */

.quiz-ques {
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    color: #293264;
}

.allQues-container {
    width: 70%;  
    margin: 2em 0;
}

/* ==========
    Answers 
   ========== */

.answers-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.answer--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer--hidden {
    display: none;
}

.correct-ans,
.selected.correct-ans {
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
}

.selected.incorrect-ans {
    background-color: #F8BCBC;
    color: #7E84A2;
}



/* ===============
    Media Queries
   =============== */

@media (max-width: 550px) {
    .main {
        width: 100vw;
        min-height: 100vh;
    }

    .allQues-container {
        margin-top: 5em;
    }

    div.play-again {
        flex-direction: column;
    }
}